# OBiBa/Rock systemd service file

[Unit]
Description=OBiBa Rock service
# Wait for network
After=network-online.target

[Service]
WorkingDirectory=/var/lib/rock
EnvironmentFile=/etc/default/rock
User=rock
LimitNOFILE=16384
StandardOutput=file:/var/log/rock/stdout.log
StandardError=file:/var/log/rock/stderr.log
ExecStart=/usr/share/rock/bin/start.sh

[Install]
WantedBy=multi-user.target
